@page
@model SemestriProject.Soft.Areas.AirFreight.Pages.IndexModel
@{ ViewData["Title"] = "Info"; }

<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 ">Air Freight</h1>
    </div>
</div>

<div class="col-md-7 order-md-2">
    <h3 class="featurette-heading font-weight-bold">Info</h3>
    <p class="lead">
        The biggest advantage over other modes of transport is the use of air transport to keep stocks to a minimum and to reduce the freezing of current assets. Inventory efficiency is ensured by ordering smaller quantities more frequently, according to customer orders.
    </p>
</div>
<div class="col-md-7 order-md-2">
    <h3 class="featurette-heading font-weight-bold">Regular and special goods</h3>
    <p class="lead">
        BDK-Logistic pakub lennutranspordi korraldamisel lisaks tavakaupade (kaubad mis ei nõua erikäsitlust) toomisel lahendusi ka spetsiifiliste kaupade transportimisel, milleks võivad olla:
    </p>
    <ul">
        <li style="font-size:20px">dangerous goods, including radioactive consignments</li>
        <li style="font-size:20px">counterfeit shipments</li>
        <li style="font-size:20px">live animals</li>
        <li style="font-size:20px">human remains</li>
        <li style="font-size:20px">perishable goods (eg food, human organs, medical samples)</li>
    </ul>    
</div>