@page
@model SemestriProject.Soft.Areas.RoadFreight.Pages.IndexModel
@{ ViewData["Title"] = "Info"; }

<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 ">Trailers types</h1>
    </div>
</div>
<div class="col-md-7 order-md-2">
    <h3 class="featurette-heading font-weight-bold">Tent treiler (Tilt)</h3>
    <p class="lead">The tent trailer is equipped with movable aluminum sides to make it as easy as possible to tie and tighten the load straps. This is particularly important in the transport of dangerous goods (ADR). Trailer dimensions and capacity data may vary by manufacturer and year of manufacture.</p>
</div>

<div class="col-md-7 order-md-2">
    <h3 class="featurette-heading font-weight-bold">Külmik treiler (Box)</h3>
    <p class="lead">
        Kõvade seintega treiler (Box) on kõige turvalisem treileri tüüp maanteetranspordi sektoris. Treilerit kasutatakse tüüpiliselt kõrgema väärtusega kaupade või rippuvate riiete veol.
        Külmik treileril puhul on sisuliselt tegemist samasuguse treileriga nagu kõvade seintega treiler (Box). Erinevus seisneb treileri eesosas oleva jauhtusseadme näol, mis võimaldab vedada kaupu vastavalt nõutud temperatuuril (+20°C … -20°C)  kogu veo vältel.
        Treileri mõõdud ja mahutavuse andmed võivad varieeruda vastavalt tootjale ja tootmise aastale.
    </p>
    <div>
        <img class="featurette-image img-fluid mx-auto" src="/img/Thermo treiler 602x279.png" data-holder-rendered="true" style="width: 600px; height: 293px;">
    </div>
</div>
<div class="col-md-7 order-md-2">
    <h3 class="featurette-heading font-weight-bold">Kardin treiler</h3>
    <p class="lead">
        Kardin treiler on laialt levinud treileri tüüp Euroopas, mis on sobilik peaaegu kõige transportimiseks. Võimaldab kerget ligipääsu nii külgedelt kui katuselt, mis soodustab kiiret ja lihtsat laadimist. Treileri mõõdud ja mahutavuse andmed võivad varieeruda vastavalt tootjale ja tootmise aastale.
    </p>
    <div>
        <img class="featurette-image img-fluid mx-auto" src="/img/Curtain_Trailer 602x294.png" data-holder-rendered="true" style="width: 600px; height: 293px;">
    </div>
</div>
<div class="col-md-7 order-md-2">
    <h3 class="featurette-heading font-weight-bold">Mega treiler</h3>
    <p class="lead">
        Standardne mega treiler on ideaalis mõeldud mõõtmetelt suurtele ja kõrgetele kaupadele, mis ei mahu ära tavalisse treilerisse. Nagu kardin-treileritel on ka mega treileritel liikuvad külgkardinad.
        Igas mega treileris on eemaldatav katus. Mega treiler nõuab transportimiseks vedukit, mille kõrgus on viiendast rattast 95cm või rohkem. Treileri mõõdud ja mahutavuse andmed võivad varieeruda vastavalt tootjale ja tootmisaastale
    </p>
    <div>
        <img class="featurette-image img-fluid mx-auto" src="/img/Mega_Trailer 602x296.png" data-holder-rendered="true" style="width: 600px; height: 293px;">
    </div>
</div>
<div class="col-md-7 order-md-2">
    <h3 class="featurette-heading font-weight-bold">Platvorm Treiler</h3>
    <p class="lead">Lahtiseid platvorm- ja eriveo haagiseid kasutatakse enamasti suuremõõtmeliste ja raskekaaluliste kaupade veol. Valime transpordiks sobiva veovahendi, sõltuvalt kauba eripärast ja veo spetsiifikast.</p>
    <div>
        <img class="featurette-image img-fluid mx-auto" src="/img/Flatbed 602x293.png" data-holder-rendered="true" style="width: 600px; height: 293px;">
    </div>
</div>